# Configuració del servidor PalamBlock
SERVER_PALAMBLOCK=ws://localhost:3000
API_PALAMBLOCK=http://localhost:3000

# Intervals de comprovació
IP_CHECK_INTERVAL=30
IP_SEND_ALWAYS_CHECK=10

# Contrasenya sudo (si és necessària)
SUDO_PASSWORD=
