# Configuració del servidor PalamBlock
SERVER_PALAMBLOCK=http://192.168.0.103:4000
SERVER_PALAMBLOCK_ALT=https://palamblock.online

# Intervals de comprovació
IP_CHECK_INTERVAL=30
IP_SEND_ALWAYS_CHECK=10

# Contrasenya sudo (si és necessària)
SUDO_PASSWORD=

# Intervals de captura 
CAPTURE_INTERVAL=30 
CAPTURE_IMG_BUFFER=120
CAPTURE_SEND_INTERVAL=180